{% extends 'admin/base.html.twig' %}

{% block title %}Outils
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="container">
			<div class="container-fluid p-3  w-100 mx-auto bg-white border rounded">
				<h1 class="h3 mb-0 text-gray-800">Outils</h1>

				<p class="mb-2">Modifier un Outil</p>
				{{ form_start(formOutil) }}
				<div class="row g-3">

					<div class="col-6">
						{{form_row(formOutil.nom)}}
					</div>

					<div class="col-6">
						{{form_row(formOutil.URL)}}
					</div>


				</div>
				{{ form_end(formOutil) }}
			</div>
		</div>


	</div>
{% endblock %}
