<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body class="bg-primary">
        <header class="bg-dark">
            <nav class="navbar bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="./img/vTech.png" alt="Logo" height="50px" class="d-inline-block align-text-top">
                    </a>
                </div>
            </nav>
        </header>

        <div class="row justify-content-center">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
